
<div class="header">
    <div class="flex-container">
       <div class="item1">
       </div>
       <!-- <div class="item2"> -->
        <div class="row">    
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn1" >
                            <span id="search_concept">Toutes catégories</span> 
                        </button>
                    </div>       
                    <input type="text" placeholder="Recherche">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    <!-- </div> -->
    
       <div class="item3">
          <img class="img1" src="../../assets/images/repeat.png"/>
          <img class="img2" src="../../assets/images/Vector (1).png"/>
          <img class="img3" src="../../assets/images/shop.png"/>
       </div>
    </div>
    <div class="flex-container2">
        <p class="text1">Support de 9H / 19H du Lundi au samedi</p>
        <p class="text2">+00 000 00 00 Email: contact@sample.com</p>
    </div>
</div>

